{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'Logout :'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Log Out'|trans({}, 'FOSUserBundle') }}
                </a>
        {% endif %}
            <div id="welcome">
                <h1>My blog creator</h1>
            </div>

            <div id="buttondiv">
                <a href="/register" class="button">Register</a>
                <a href="/login" class="button">Log In</a>
            </div>
            <div id="createblog">
                <a href = "/blog" class="button">Create Blog</a>
            </div>
        </div>
    </div>
{% endblock %}
